.vs/
bin/
obj/
Vix/Vix/obj/Debug/net6.0-tizen9.0/ref/Vix.dll
Vix/Vix/obj/Debug/net6.0-tizen9.0/refint/Vix.dll
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.sourcelink.json
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.pdb
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.dll
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.AssemblyInfoInputs.cache
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.AssemblyInfo.cs
Vix/Vix/bin/Debug/net6.0-tizen9.0/tpkroot/bin/Vix.pdb
Vix/Vix/bin/Debug/net6.0-tizen9.0/tpkroot/bin/Vix.dll
Vix/Vix/bin/Debug/net6.0-tizen9.0/tpkroot/signature1.xml
Vix/Vix/bin/Debug/net6.0-tizen9.0/tpkroot/author-signature.xml
Vix/Vix/bin/Debug/net6.0-tizen9.0/Vix.pdb
Vix/Vix/bin/Debug/net6.0-tizen9.0/Vix.dll
Vix/Vix/bin/Debug/net6.0-tizen9.0/org.tizen.example.Vix-1.0.0.tpk
Vix/.vs/Vix/v17/DocumentLayout.json
Vix/.vs/Vix/v17/DocumentLayout.backup.json
Vix/.vs/Vix/v17/.futdcache.v2
Vix/.vs/Vix/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
Vix/.vs/Vix/CopilotIndices/17.14.1518.61961/CodeChunks.db
Vix/.vs/Vix/v17/DocumentLayout.backup.json
Vix/.vs/Vix/v17/DocumentLayout.json
Vix/.vs/
Vix/.vs/Vix/CopilotIndices/17.14.1518.61961/CodeChunks.db
Vix/.vs/Vix/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
Vix/.vs/Vix/DesignTimeBuild/.dtbcache.v2
Vix/.vs/Vix/v17/.futdcache.v2
Vix/.vs/Vix/v17/DocumentLayout.backup.json
Vix/.vs/Vix/v17/DocumentLayout.json
Vix/Vix/bin/Debug/net6.0-tizen9.0/org.tizen.example.Vix-1.0.0.tpk
Vix/Vix/bin/Debug/net6.0-tizen9.0/Vix.dll
Vix/Vix/bin/Debug/net6.0-tizen9.0/Vix.pdb
Vix/Vix/bin/Debug/net6.0-tizen9.0/tpkroot/author-signature.xml
Vix/Vix/bin/Debug/net6.0-tizen9.0/tpkroot/signature1.xml
Vix/Vix/bin/Debug/net6.0-tizen9.0/tpkroot/bin/Vix.dll
Vix/Vix/bin/Debug/net6.0-tizen9.0/tpkroot/bin/Vix.pdb
Vix/Vix/obj/Vix.csproj.nuget.g.props
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.AssemblyInfo.cs
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.dll
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.AssemblyInfoInputs.cache
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.pdb
Vix/Vix/obj/Debug/net6.0-tizen9.0/Vix.sourcelink.json
Vix/Vix/obj/Debug/net6.0-tizen9.0/ref/Vix.dll
Vix/Vix/obj/Debug/net6.0-tizen9.0/refint/Vix.dll
Vix/.vs/ProjectEvaluation/vix.metadata.v9.bin
